<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>System Audio Recorder needs your microphone to mix it into recordings.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>System Audio Recorder records audio from other apps you choose.</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.4</string>
</dict>
</plist>
